[Unit]
Description=Open Gallery server
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=ibuddhar
WorkingDirectory=/home/ibuddhar/open-gallery
ExecStart=/home/ibuddhar/open-gallery/open-gallery
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
